{% extends "base.html" %}


{% block title %}
Data Quality Issues
{% endblock %}


{% block content %}


<h1 class="page-title">
    Data Quality Issues
</h1>

<div class="page-subtitle">

    Current detected issues:

    <strong>
        {{ total }}
    </strong>

</div>


<div
        class="actions"
        style="
        margin-bottom: 20px;
    "
>


    <a
            href="/data-quality"
            class="
            button
            button-purple
        "
    >
        Data Quality Dashboard
    </a>


    <a
            href="/report"
            class="
            button
            button-green
        "
    >
        Download Excel Report
    </a>


    <a
            href="/"
            class="
            button
            button-gray
        "
    >
        Excel Upload
    </a>


</div>


<div class="table-card">


    <table>

        <thead>

        <tr>

            <th>
                Check
            </th>

            <th>
                Table
            </th>

            <th>
                Issue Type
            </th>

            <th>
                Row Key
            </th>

            <th>
                Detail
            </th>

        </tr>

        </thead>


        <tbody>


        {% for issue in issues %}

        <tr>

            <td>
                {{ issue.check_name }}
            </td>

            <td>
                {{ issue.table_name }}
            </td>

            <td>
                {{ issue.issue_type }}
            </td>

            <td>
                {{ issue.row_key }}
            </td>

            <td
                    style="
                    white-space: normal;
                "
            >
                {{ issue.detail }}
            </td>

        </tr>

        {% endfor %}


        </tbody>

    </table>


</div>


{% endblock %}